main {
  padding: 40px;
}
.header {
  height: 70px;
  background: linear-gradient(90deg, #056740 1.18%, #a5caa5 100%);
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;
  letter-spacing: 2px;
  border-radius: 5px;
}
section {
  margin-top: 20px;
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}
section input {
  text-indent: 8px;
  background-color: rgb(232, 243, 233);
  color: rgb(75, 75, 75);
  font-weight: bold;
  letter-spacing: 1px;
  border-color: lightgreen;
  border-radius: 3px;
}
section button {
  grid-column: 1/-1;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #056740 1.18%, #768576 100%);
  color: white;
  font-size: 15px;
  /* font-weight: bold; */
  word-spacing: 2px;
  cursor: pointer;
  transition: 100ms ease-in-out;
}
.main-meme-section img {
  width: 60%;
}
.main-meme-section {
  margin-top: 20px;
  text-align: center;
}
section button:active {
  transform: scale(0.98);
}
section input:-ms-keyboard-active {
  transform: scale(0.98);
}

.meme-text {
  color: white;
  font-size: 40px;
  background-color: lightcoral;
}
